# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# SQL Server connection string
# Format: sqlserver://HOST:PORT;database=DATABASE;user=USERNAME;password=PASSWORD;encrypt=true;trustServerCertificate=true
DATABASE_URL="sqlserver://localhost:1433;database=sesc_db;user=sa;password=YourStrong@Passw0rd;encrypt=true;trustServerCertificate=true"

# Configurações do Firebase
FIREBASE_PROJECT_ID=seu-project-id-aqui
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSua chave privada aqui\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@seu-project-id.iam.gserviceaccount.com

# JWT Secret
JWT_SECRET="your-jwt-secret-key"

# Porta da aplicação (opcional)
PORT=3000

# Ambiente
NODE_ENV=development